html, body {
    height: 100%;
}

body {
    background: #fffad6;
    font-family: Georgia, serif;
    font-size: 75%;
    background: #fffad6 url('../images/header-bkg.jpg') repeat-x;
}



header {
    display: block;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: center;
}

header div {
    position: relative;
    width: 980px;
    height: 200px;
    margin: 0 auto;
}    

header h1 {
    position: absolute;    
    width: 400px;
    height: 200px;
    top: 0;
    left: 0;
}

header h1 a {
    position: absolute;    
    display: block;
    width: 400px;
    height: 200px;
    top: 0;
    left: 0;
}    

header h1 a span {
    position: absolute;    
    display: block;
    width: 400px;
    height: 200px;
    top: 0;
    left: 0;
    background: url('../images/logo-off.jpg') no-repeat;
}        

header h1 a:hover span {
    background: url('../images/logo-on.jpg') no-repeat;
}            

header ul {    
    list-style-type: none;
}

header #o1 {    
    position: absolute;    
    display: block;
    width: 118px;
    height: 200px;
    top: 0;
    left: 400px;
}    
header #o1 a {    
    position: relative;
    display: block;
    width: 118px;
    height: 200px;
}        
header #o1 a span {    
    position: absolute;
    display: block;
    width: 118px;
    height: 200px;    
    top: 0;
    left: 0;
    background: url('../images/artists-off.png') no-repeat;
}            
header #o1 a:hover span {    
    background: url('../images/artists-on.png') no-repeat;
}                


header #o2 {    
    position: absolute;    
    display: block;
    width: 111px;
    height: 200px;
    top: 0;
    left: 518px;
}    
header #o2 a {    
    position: relative;
    display: block;
    width: 118px;
    height: 200px;
}        
header #o2 a span {    
    position: absolute;
    display: block;
    width: 118px;
    height: 200px;    
    top: 0;
    left: 0;
    background: url('../images/songs-off.png') no-repeat;
}            
header #o2 a:hover span {    
    background: url('../images/songs-on.png') no-repeat;
}         


header #o3 {    
    position: absolute;    
    display: block;
    width: 105px;
    height: 200px;
    top: 0;
    left: 629px;
}    
header #o3 a {    
    position: relative;
    display: block;
    width: 118px;
    height: 200px;
}        
header #o3 a span {    
    position: absolute;
    display: block;
    width: 118px;
    height: 200px;    
    top: 0;
    left: 0;
    background: url('../images/clips-off.png') no-repeat;
}            
header #o3 a:hover span {    
    background: url('../images/clips-on.png') no-repeat;
}             

#content {
    width: 980px;
    min-height: 100%;
    margin: 0 auto -200px auto;
}

#content p {
    line-height: 250%;
}

#content .text {
    margin: 0 auto;
    display: block;
    padding-top: 200px;
}

#content .push {
    height: 200px;
    border: 1px solid red;
}

footer {
    height: 200px;
    width: 100%;
    background: url('../images/footer-bkg.jpg') repeat-x;
    position: relative;
}

footer div {
    position: absolute;
    width: 100%;
    bottom: 50px;
    text-align: center;
}
