html, body {
    height: 100%;
}

body {
    background: #fffad6;
    font-family: Georgia, serif;
    font-size: 75%;
    background: #fffad6 url('../images/header-bkg.jpg') repeat-x;
    line-height: 250%;
}

header {
    display: block;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: center;
}

header div {
    position: relative;
    width: 980px;
    height: 200px;
    margin: 0 auto;
}    

header h1 {
    position: absolute;    
    width: 400px;
    height: 200px;
    top: 0;
    left: 0;
}

header h1 a {
    position: absolute;    
    display: block;
    width: 400px;
    height: 200px;
    top: 0;
    left: 0;
}    

header h1 a span {
    position: absolute;    
    display: block;
    width: 400px;
    height: 200px;
    top: 0;
    left: 0;
    background: url('../images/sprites.jpg') no-repeat 0 0;
}        

header h1 a:hover span {
    background: url('../images/sprites.jpg') no-repeat 0 -200px;
}            

header ul {    
    list-style-type: none;
}

header #artists {
    position: absolute;    
    display: block;
    width: 118px;
    height: 200px;
    top: 0;
    left: 400px;
}    
header #artists a {
    position: relative;
    display: block;
    width: 118px;
    height: 200px;
}        
header #artists a span {
    position: absolute;
    display: block;
    width: 118px;
    height: 200px;    
    top: 0;
    left: 0;
    background: url('../images/sprites.jpg') no-repeat -400px 0;
}            
header #artists a:hover span {
    background: url('../images/sprites.jpg') no-repeat -400px -200px;
}                


header #songs {
    position: absolute;    
    display: block;
    width: 111px;
    height: 200px;
    top: 0;
    left: 518px;
}    
header #songs a {
    position: relative;
    display: block;
    width: 118px;
    height: 200px;
}        
header #songs a span {
    position: absolute;
    display: block;
    width: 118px;
    height: 200px;    
    top: 0;
    left: 0;
    background: url('../images/sprites.jpg') no-repeat -518px 0;
}            
header #songs a:hover span {
    background: url('../images/sprites.jpg') no-repeat -518px -200px;
}         


header #clips {
    position: absolute;    
    display: block;
    width: 105px;
    height: 200px;
    top: 0;
    left: 629px;
}    
header #clips a {
    position: relative;
    display: block;
    width: 118px;
    height: 200px;
}        
header #clips a span {
    position: absolute;
    display: block;
    width: 118px;
    height: 200px;    
    top: 0;
    left: 0;
    background: url('../images/sprites.jpg') no-repeat -623px 0;
}            
header #clips a:hover span {
    background: url('../images/sprites.jpg') no-repeat -623px -200px;
}             

#content {
    width: 980px;
    min-height: 100%;
    margin: 0 auto -200px auto;
    background: url('../images/footer-bkg.jpg') repeat-x bottom center;
}

#content p {
    line-height: 250%;
}

#content .text {
    margin: 0 auto;
    display: block;
    padding-top: 200px;
}

#content .push {
    height: 200px;
/*     border: 1px solid red; */
}

footer {
    height: 200px;
    min-width: 100%;
    background: url('../images/footer-bkg.jpg') repeat-x;
    position: relative;
}

footer div {
    position: absolute;
    min-width: 100%;
    bottom: 50px;
    text-align: center;
}
